// Color
$dark-grey-color: #353535;


// Header
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    padding: 20px 0 10px 0;
    margin-bottom: 4px;

    &__logo {
        width: 162px;
        height: auto;

        // Desktop devices
        @media (min-width: 769px) {
            width: 200px;
        }
    }

    &__restaurant {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: white;
        padding: 20px 0 10px 0;
    
        // Desktop devices
        @media (min-width: 769px) {
            padding: 30px 0 32px 0;
        } 
    }
    
    &__icon{
        position: absolute;
        top: 22px;
        left: 22px;
        z-index: 1;
    
        &__link {
            text-decoration: none;
            color: $dark-grey-color;
        }
    
        // Desktop devices
        @media (min-width: 769px) {
            top: 40px;
        }
    }

    // Desktop devices
    @media (min-width: 769px) {
        padding: 30px 0;
        margin: 0;
        box-shadow: none;
    }
}