// Colors
$dark-grey-color: #353535;
$menu-background-color: #F6F6F6;
$main-title-color: #101010;
$tertiary-color: #99E2D0;


//Menu
.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;

    &__img-contener {
        position: relative;
        width: 100%;
        height: 220px;
        z-index: 0;

        .menu__img {
            width: 100%;
            height: 275px;
            object-fit: cover;
    
            // Desktop devices
            @media (min-width: 769px) {
                height: 956px;
                position:absolute;
                top: -330px;
            }
        }

        // Desktop devices
        @media (min-width: 769px) {
            height: 383px;
            overflow : hidden;
        }
    }

    &__contener {
        display: flex;
        flex-direction: column;
        width: auto;
        padding-bottom: 65px;
        border-radius: 40px 40px 0 0;
        background-color: $menu-background-color;
        z-index: 1;
        padding: 0 15px;

        // Desktop devices
        @media (min-width: 769px) {
            position: relative;
            top: -40px;
            padding: 20px 215px 0 215px;
            width: 46%;
            max-width: 1055px;
        }
    }

    &__title-contener {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .menu__title { 
            font-family: 'Shrikhand', sans-serif;
            color: $main-title-color;
            font-size: 28px;
            font-weight: 400;
            padding: 32px 0;
    
            // Desktop devices
            @media (min-width: 769px) {
                padding-bottom: 40px;
            }
        }

        .heart {
            position: relative;
            top: 30px;
            left: 15px;
        }

        // Desktop devices
        @media (min-width: 769px) {
            justify-content: center;
            gap: 25px;
        }
    }

    // Desktop devices
    @media (min-width: 769px) {
        justify-content: center;
        align-items: center;
        margin-bottom: -40px;
    }
}


.menu-part {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 40px;
    gap: 12px;

    &__title-contener {
        display: flex;
        flex-direction: column;
        width: 100%;
        opacity: 0;
    }

    &__title {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        padding-bottom: 3.5px;
    }

    &__line {
        background-color: $tertiary-color;
        width: 40px;
        height: 3px;
    }
}


.dish {
    display: flex;
    position: relative;
    width: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 12px 15px;
    font-family: 'Roboto', sans-serif;
    z-index: 0;
    overflow: hidden;
    opacity: 0;

    &__checkable {
        position: absolute;
        left: -9999px;
    }

    .checkable-area {
        display: block;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 3;
    }
    

    &__txt {
        display: block;
        flex-direction: column;
        position: relative;
        width: 90%;
        row-gap: 5px;

        .dish__title {
            width: 100%;
            font-size: 18px;
            font-weight: 500;
            padding-right: 30px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    
        .dish__subtitle {
            width: 100%;
            font-size: 15px;
            font-weight: 300;
            padding-right: 30px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__price-contener {
        display: flex;
        position: absolute;
        top: 34px;
        right: 15px;

        transition : transform 300ms;

        .dish__price {
            font-size: 15px;
            font-weight: 700;
            color: $dark-grey-color;
        }
    }

    &__selector {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: -59px;
        width: 59px;
        height: 64px;
        background-color: $tertiary-color;
        border-radius: 0px 15px 15px 0px;

        transition : transform 300ms;

        .dish__check-circle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background-color: white;
            border-radius: 15px;
            color: $tertiary-color;
            font-weight: 700;
            font-size: 18px;
        }
    }
}


// Dish movement
@keyframes dish-mvt {
    0% {
        opacity: 0;
        transform: translateX(1000px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@for $i from 1 through 13 {
    .mvt-#{$i} {
        animation: dish-mvt 200ms 150ms*$i cubic-bezier(.19,.7,.15,.96) forwards;
    }
}


// Checkable dish behavior
.dish__checkable:checked + label ~ .dish__selector {
    transform: translateX(-59px);
}

.dish__checkable:checked + label ~ .dish__price-contener {
    transform: translateX(-59px);
}

.dish__checkable:checked + label ~ .dish__txt {
    width: 70%;

    // Desktop devices
    @media (min-width: 769px) {
        width: 74%;
    }
}


// Button
.button-contener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-top: 25px;

    .button {
        @include button (15px 50px, 0);
    }
}