// Import
@import "loader";
@import "header";
@import "footer";
@import "button";
@import "heart";
@import "page-accueil";
@import "page-restaurant";


// Color
$body-background-color: #F7F7F7;


// General
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    background-color: $body-background-color;
    position: relative;
}