.loader-page {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  opacity: 1;
  z-index: 5;
  animation: loader 300ms 2700ms forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}
.loader-contener {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 250px;
  height: 250px;
  z-index: 6;
  background-color: #F7F7F7;
}

.cutting-board {
  position: absolute;
  margin: auto;
  width: 100px;
  height: 6px;
  z-index: 7;
  background: linear-gradient(0deg, #9356DC -11%, #FF79DA 124%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  animation: cutting-board 150ms 1050ms forwards;
}

@keyframes cutting-board {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.knife {
  position: absolute;
  top: 107px;
  left: 100px;
  z-index: 8;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  animation: knife-mvt 1000ms forwards;
}
.knife .blade {
  width: 50px;
  height: 15px;
  z-index: 8;
  background: linear-gradient(0deg, #9356DC -11%, #FF79DA 124%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 100% 0% 42% 58%/0% 100% 0% 100%;
}
.knife .handle {
  width: 35px;
  height: 8px;
  z-index: 8;
  background: linear-gradient(0deg, #9356DC -11%, #FF79DA 124%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 25px 25px 0;
}

@keyframes knife-mvt {
  0% {
    transform: rotate(60deg) translateY(-50px);
  }
  12% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateX(5px) rotate(60deg) translateY(-50px);
  }
  40% {
    transform: translateX(5px) rotate(0) translateY(0);
  }
  54% {
    transform: translateX(10px) rotate(60deg) translateY(-50px);
  }
  64% {
    transform: translateX(10px) rotate(0) translateY(0);
  }
  74%, 100% {
    transform: translateX(15px) rotate(60deg) translateY(-50px);
  }
  97% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.carrot {
  position: absolute;
  top: 105px;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 15px;
  z-index: 7;
  background: linear-gradient(0deg, #9356DC -10%, #FF79DA 30%);
  border-radius: 12% 88% 89% 11%/54% 47% 53% 46%;
  animation: carrot-mvt 170ms 1000ms ease-in forwards;
}
.carrot .cut {
  position: absolute;
  width: 3px;
  height: 16px;
  z-index: 7;
  background-color: #F7F7F7;
  opacity: 0;
}
.carrot .cut-1 {
  left: 25%;
  animation: carrot-cut-1 150ms 100ms linear forwards;
}
.carrot .cut-2 {
  left: 50%;
  animation: carrot-cut-2 150ms 400ms linear forwards;
}
.carrot .cut-3 {
  left: 75%;
  animation: carrot-cut-3 150ms 600ms linear forwards;
}

@keyframes carrot-mvt {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}
@keyframes carrot-cut-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes carrot-cut-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes carrot-cut-3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.plate {
  position: absolute;
  margin: auto;
  width: 100px;
  height: 20px;
  z-index: 6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
  border: 3px solid #9356DC;
  opacity: 0;
  animation: plate 150ms 1400ms forwards;
}
.plate .meat-1 {
  position: absolute;
  top: 2px;
  margin-left: 45px;
  width: 40px;
  height: 15px;
  z-index: 6;
  background: linear-gradient(90deg, #9356DC -11%, #FF79DA 124%);
  border-radius: 24% 76% 77% 23%/45% 44% 56% 55%;
}
.plate .meat-2 {
  position: absolute;
  top: 6px;
  margin-left: 68px;
  width: 10px;
  height: 5px;
  z-index: 6;
  background-color: #F7F7F7;
  border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
}
.plate .vegetable {
  position: absolute;
  top: 2px;
  margin-left: 17px;
  width: 23px;
  height: 13px;
  z-index: 6;
  background: linear-gradient(0deg, #9356DC -10%, #FF79DA 30%);
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}

@keyframes plate {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.steam {
  animation: steam 200ms 2000ms forwards;
}
.steam .steam-1 {
  position: absolute;
  top: 5px;
  margin-left: 10px;
  z-index: 6;
}
.steam .steam-2 {
  position: absolute;
  top: 0;
  margin-left: 27px;
  z-index: 6;
}
.steam .steam-3 {
  position: absolute;
  top: 5px;
  margin-left: 44px;
  z-index: 6;
}
.steam .steam-part-1 {
  position: absolute;
  top: -32px;
  margin-left: 17px;
  width: 12px;
  height: 15px;
  z-index: 6;
  border-left: 3px solid #9356DC;
  border-radius: 50%;
}
.steam .steam-part-2 {
  position: absolute;
  top: -46px;
  margin-left: 13px;
  width: 12px;
  height: 15px;
  z-index: 6;
  border-right: 3px solid #9356DC;
  border-radius: 50%;
}
.steam .steam-part-3 {
  position: absolute;
  top: -60px;
  margin-left: 17px;
  width: 12px;
  height: 15px;
  z-index: 6;
  border-left: 3px solid #9356DC;
  border-radius: 50%;
}

@keyframes steam {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.bell {
  position: absolute;
  top: 90px;
  margin-left: auto;
  width: 80px;
  height: 40px;
  z-index: 6;
  background-color: white;
  border: 3px solid #9356DC;
  border-radius: 48% 52% 47% 53%/82% 80% 20% 18%;
  opacity: 0;
  animation: bell 300ms 2000ms forwards;
}
.bell .bell-wrist {
  position: absolute;
  top: -10px;
  margin-left: 33px;
  width: 8px;
  height: 8px;
  z-index: 6;
  background-color: white;
  border: 3px solid #9356DC;
  border-radius: 50%;
}

@keyframes bell {
  0% {
    opacity: 1;
    transform: rotate(-90deg) translate(50px, -50px);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}
.loading-bar {
  position: absolute;
  top: 180px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 15px;
  z-index: 6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.loading-bar .progress {
  position: relative;
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #9356DC -11%, #FF79DA 124%);
  border-radius: 25px;
  animation: loading 2500ms cubic-bezier(0.69, 0.02, 0.89, 0.7) forwards;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  10%, 15% {
    width: 15%;
  }
  20%, 25% {
    width: 35%;
  }
  30%, 35% {
    width: 70%;
  }
  60%, 80% {
    width: 90%;
  }
  90%, 100% {
    width: 100%;
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #353535;
  background-color: #EAEAEA;
  padding: 12px 0 16px 0;
  font-size: 18px;
}
.location__text {
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 769px) {
  .location {
    padding: 16px 0;
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 12px;
  padding: 40px 0;
}
.presentation__text {
  color: #353535;
  font-size: 18px;
  font-weight: 300;
  padding: 0 30px 3px 30px;
}
@media (min-width: 769px) {
  .presentation {
    padding: 30px 0 15px 0;
  }
}
.presentation .button {
  position: relative;
  z-index: 0;
  text-decoration: none;
  background: linear-gradient(0deg, #9356DC -11%, #FF79DA 124%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 15px 21px;
  margin: 15px;
}
.presentation .button .button-text {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.presentation .button::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(0deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  transition: opacity 500ms;
}
.presentation .button:hover::after {
  opacity: 1;
  z-index: 1;
}

.functioning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  padding-bottom: 65px;
}
.functioning__margins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.functioning__contener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 25px;
  margin: 0 17px 0 30px;
}
@media (min-width: 769px) {
  .functioning__contener {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;
  }
}
.functioning__step {
  display: flex;
  align-items: center;
  position: relative;
  width: 87%;
  max-width: 282px;
  background-color: #F7F7F7;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  padding: 20px;
}
@media (min-width: 769px) {
  .functioning__step {
    width: 30%;
  }
}
@media (min-width: 769px) {
  .functioning {
    padding: 20px 0 50px 0;
  }
}

.step-number {
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 25px;
  border-radius: 15px;
}

.step-icon {
  width: 25px;
  color: #7E7E7E;
  padding: 15px;
}
.step-icon:hover {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 65px;
}
.restaurants__margins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.restaurants__contener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 17px;
  padding: 0 17px;
}
@media (min-width: 769px) {
  .restaurants__contener {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0;
    row-gap: 50px;
  }
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 472px;
  border-radius: 15px;
  background-color: white;
}
@media (min-width: 769px) {
  .restaurants__card {
    width: 47.6%;
  }
}
@media (min-width: 769px) {
  .restaurants {
    padding-bottom: 30px;
  }
}

.no-decoration {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.card-img-contener {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}

.card-img {
  position: absolute;
  top: -56px;
  left: -2px;
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.new-label {
  position: absolute;
  z-index: 1;
  top: 12px;
  right: 12px;
  width: 80px;
  height: 29px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 29px;
  color: #008766;
  background-color: #99E2D0;
}

.card-content {
  display: flex;
  width: 100%;
  padding: 16px 12px;
}

.card-txt {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 5px;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
}

.card-subtitle {
  font-size: 17px;
  font-weight: 300;
}

.heart-contener {
  position: relative;
  width: 18%;
}
.heart-contener .check-heart {
  position: absolute;
  left: -9999px;
}
.heart-contener .empty-heart {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 1;
  padding-top: 18px;
  cursor: pointer;
}
.heart-contener .colored-heart {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  padding-top: 18px;
  cursor: pointer;
  color: transparent;
  background-image: linear-gradient(180deg, #9356DC 10%, #FF79DA 70%);
  background-clip: text;
  transition: opacity 600ms;
}
.heart-contener .check-heart:checked + label .colored-heart {
  z-index: 2;
  opacity: 1;
}
.heart-contener .check-heart:checked + label .empty-heart {
  z-index: -1;
  opacity: 0;
}

.header-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  padding: 20px 0 10px 0;
}
@media (min-width: 769px) {
  .header-restaurant {
    padding: 30px 0 32px 0;
  }
}

.header__icon {
  position: absolute;
  top: 22px;
  left: 22px;
  z-index: 1;
}
.header__icon__link {
  text-decoration: none;
  color: #353535;
}
@media (min-width: 769px) {
  .header__icon {
    top: 40px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}
.menu__img-contener {
  position: relative;
  width: 100%;
  height: 220px;
  z-index: 0;
}
@media (min-width: 769px) {
  .menu__img-contener {
    height: 383px;
    overflow: hidden;
  }
}
.menu__img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
@media (min-width: 769px) {
  .menu__img {
    height: 956px;
    position: absolute;
    top: -330px;
  }
}
.menu__contener {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-bottom: 65px;
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
  z-index: 1;
  padding: 0 15px;
}
@media (min-width: 769px) {
  .menu__contener {
    position: relative;
    top: -40px;
    padding: 20px 215px 0 215px;
    width: 46%;
    max-width: 1055px;
  }
}
.menu__title-contener {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu__title-contener > .heart-contener {
  top: 30px;
  left: 15px;
}
@media (min-width: 769px) {
  .menu__title-contener {
    justify-content: center;
    gap: 25px;
  }
}
.menu__title {
  font-family: "Shrikhand", sans-serif;
  color: #101010;
  font-size: 28px;
  font-weight: 400;
  padding: 32px 0;
}
@media (min-width: 769px) {
  .menu__title {
    padding-bottom: 40px;
  }
}
@media (min-width: 769px) {
  .menu {
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
  }
}

.menu-part {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 40px;
  gap: 12px;
}
.menu-part__title-contener {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 0;
}
.menu-part__title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 3.5px;
}
.menu-part__line {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
}

.dish_contener {
  position: relative;
}
.dish_contener .check-dish {
  position: absolute;
  left: -9999px;
}

.check-dish:checked + label .dish__selector {
  transform: translateX(-59px);
}

.check-dish:checked + label .dish__price-contener {
  transform: translateX(-59px);
}

.check-dish:checked + label .dish__subtitle,
.check-dish:checked + label .dish__title {
  padding-right: 90px;
}

.dish {
  display: flex;
  position: relative;
  width: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 15px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
}
.dish__txt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  row-gap: 5px;
}
.dish__title {
  font-size: 18px;
  font-weight: 500;
  padding-right: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dish__subtitle {
  font-size: 15px;
  font-weight: 300;
  padding-right: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dish__price-contener {
  position: absolute;
  top: 40px;
  right: 15px;
  transition: transform 300ms;
}
.dish__price {
  font-size: 15px;
  font-weight: 700;
  color: #353535;
}
.dish__selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -59px;
  width: 59px;
  height: 71px;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  transition: transform 300ms;
}
.dish__check-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 15px;
  color: #99E2D0;
  font-weight: 700;
  font-size: 18px;
}

.mvt-1 {
  animation: dish-mvt 200ms 150ms cubic-bezier(0.19, 0.7, 0.15, 0.96) forwards;
}

.mvt-2 {
  animation: dish-mvt 200ms 300ms cubic-bezier(0.19, 0.7, 0.15, 0.96) forwards;
}

.mvt-3 {
  animation: dish-mvt 200ms 450ms cubic-bezier(0.19, 0.7, 0.15, 0.96) forwards;
}

.mvt-4 {
  animation: dish-mvt 200ms 600ms cubic-bezier(0.19, 0.7, 0.15, 0.96) forwards;
}

.mvt-5 {
  animation: dish-mvt 200ms 750ms cubic-bezier(0.19, 0.7, 0.15, 0.96) forwards;
}

.mvt-6 {
  animation: dish-mvt 200ms 900ms cubic-bezier(0.19, 0.7, 0.15, 0.96) forwards;
}

.mvt-7 {
  animation: dish-mvt 200ms 1050ms cubic-bezier(0.19, 0.7, 0.15, 0.96) forwards;
}

.mvt-8 {
  animation: dish-mvt 200ms 1200ms cubic-bezier(0.19, 0.7, 0.15, 0.96) forwards;
}

.mvt-9 {
  animation: dish-mvt 200ms 1350ms cubic-bezier(0.19, 0.7, 0.15, 0.96) forwards;
}

.mvt-10 {
  animation: dish-mvt 200ms 1500ms cubic-bezier(0.19, 0.7, 0.15, 0.96) forwards;
}

.mvt-11 {
  animation: dish-mvt 200ms 1650ms cubic-bezier(0.19, 0.7, 0.15, 0.96) forwards;
}

.mvt-12 {
  animation: dish-mvt 200ms 1800ms cubic-bezier(0.19, 0.7, 0.15, 0.96) forwards;
}

.mvt-13 {
  animation: dish-mvt 200ms 1950ms cubic-bezier(0.19, 0.7, 0.15, 0.96) forwards;
}

@keyframes dish-mvt {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.button-contener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-top: 25px;
}

.button {
  position: relative;
  z-index: 0;
  text-decoration: none;
  background: linear-gradient(0deg, #9356DC -11%, #FF79DA 124%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 15px 50px;
  margin: 0;
}
.button .button-text {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.button::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(0deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  transition: opacity 500ms;
}
.button:hover::after {
  opacity: 1;
  z-index: 1;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  background-color: #F7F7F7;
  position: relative;
}

.title {
  font-size: 24px;
  font-weight: 700;
}
.title--presentation {
  padding: 0 50px;
}
@media (min-width: 769px) {
  .title--presentation {
    font-size: 40px;
    padding-bottom: 17px;
  }
}
.title--section {
  padding: 50px 20px 20px 20px;
}
@media (min-width: 769px) {
  .title--section {
    padding: 30px 20px 30px 20px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  padding: 20px 0 10px 0;
  margin-bottom: 4px;
}
.header__logo {
  width: 162px;
  height: auto;
}
@media (min-width: 769px) {
  .header__logo {
    width: 200px;
  }
}
@media (min-width: 769px) {
  .header {
    padding: 30px 0;
    margin: 0;
    box-shadow: none;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 20px 25px;
  gap: 15px;
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.footer__contener {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 10px;
}
.footer__contener__icon-links {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}
.footer__contener__links {
  font-weight: 400;
}
@media (min-width: 769px) {
  .footer__contener__links {
    padding: 0 10px 0 35px;
  }
}
.footer__contener__contact {
  text-decoration: none;
  color: white;
}
@media (min-width: 769px) {
  .footer__contener {
    flex-direction: row;
    align-items: center;
  }
}
.footer__icon {
  width: 15px;
}
@media (min-width: 769px) {
  .footer {
    flex-direction: row-reverse;
    padding: 60px 70px 30px 25px;
    gap: 90px;
  }
}

/*# sourceMappingURL=style.css.map */
